/* styles/login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background-main);
    font-family: var(--font-family-main);
}

.loginCard {
    background-color: var(--color-background-light);
    padding: 40px;
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-medium);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.loginTitle {
    color: var(--color-heading);
    font-weight: 700;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formGroup {
    text-align: left;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--color-text-medium);
}

.inputField {
    width: 100%;
    padding: 12px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-border);
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
}

.button {
    padding: 12px 25px;
    border-radius: var(--border-radius-small);
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover {
    transform: translateY(-2px);
}

.buttonPrimary {
    background-color: var(--color-accent);
    color: var(--color-text-white);
}

.buttonPrimary:hover {
    background-color: var(--color-accent-dark);
}

.buttonSecondary {
    background-color: var(--color-secondary);
    color: var(--color-text-white);
}

.buttonSecondary:hover {
    background-color: var(--color-primary-dark);
}

.errorMessage {
    color: var(--color-error);
    background-color: rgba(var(--color-error-rgb), 0.1);
    border: 1px solid var(--color-error);
    padding: 10px;
    border-radius: var(--border-radius-small);
    margin-bottom: 20px;
}